@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    overflow-x: hidden;
    min-width: 320px;
}

/* Semantic */
i.icon{
    margin: 0!important;
}

.ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon{
    top: 0.1em!important
}

.search-bar .ui.selection.dropdown{
    min-width: 10rem!important;
    margin-left: 2rem!important;
}

/* Snackbar */
.snackbar{
    position: absolute!important;
    z-index: 500;
    right: 0rem;
}
.snackbar.closed{
    transform: translateX(200%);
    display: none;
}
.snackbar.open {
    animation: snackbar-animation 5s ease-in-out forwards;
}
@keyframes snackbar-animation {
    0% {
        transform: translateX(200%)
    }
    10% {
        transform: translateX(-10%)
    }
    80% {
        transform: translateX(-10%)
    }
    100% {
        transform: translateX(200%)
    }
}

/* Search bar */
.search-bar{
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
}
.search-bar .ui.input{
    flex-grow: 1;
}

/* Home */
.home-page__loader{
    margin-top: 4rem;
}

/* User Page */
.user-page__profile-container{
    min-height: 420px;
}

/* Form */
.form__submit-button{
    margin-bottom: 2rem!important;
}

/* Posts */
.post__user-image{
    border-radius: 100em;
    height: 75px!important;
    width: 75px!important;
    object-fit: cover;
    border: 1px solid #35a2f4;
    cursor: pointer;
}

/* Profile */
.profile__profile-image{
    max-height: 250px;
    object-fit: cover;
    width: 100%;
}

.profile__user-image-container{
    height: 125px!important;
    width: 125px!important;
    position: absolute;
    z-index: 100;
    top: 70%;
    left: 5%;
}

.profile__user-image{
    border-radius: 100em;
    border: 2px solid #35a2f4;
    height: 125px!important;
    width: 125px!important;
    object-fit: cover;
}

.profile__change-user-image{
    display: none;
}

.profile__actual-change-user-image{
    display: none;
    height: 125px!important;
    width: 125px!important;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border-radius: 100em;
    text-shadow: -1px 0px 5px #000;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
}

.profile__user-image-container:hover .profile__actual-change-user-image{
    display: flex;
}

.profile__actual-change-user-image:hover{
    background-color: rgba(53, 162, 244, 0.3);
    opacity: 1;
}

.profile__name-follow-container{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.profile__title{
    margin-right: 2rem;
}

i.icon.profile__icon{
    margin-right: 0.5rem!important;
}

.profile__profile-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.profile__profile-name{
    margin-right: 4rem!important;
}

.profile__numbers-container{
    display: flex;
}

.profile__number:first-child{
    margin-right: 2rem!important;
}

/* Profile Modal */
.profile-modal__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.profile-modal__title{
    text-align: center;
    margin: 1rem 0;
}

.profile-modal__img-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}

.profile-modal__img{
    height: 15rem;
    max-width: 50%!important;
}

.profile-modal__img-button{
    height: fit-content;
}

.profile-modal__close-button{
    margin-right: 1rem!important;
}

.profile-modal__submit-button{
    margin-left: 1rem!important;
}

/* User Modal */
.user-modal{
    padding: 2rem;
}

.user-modal__title{
    text-align: center;
    margin: 1rem 0;
}

.user-modal__subtitle{
    text-align: center;
}

.user-modal__img-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}

.user-modal__img{
    max-height: 400px;
    max-width: 80%!important;
}

.user-modal__img-button{
    margin-right: 0!important;
}

/* User card */
.user-card__user-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.user-card__user-image{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100em;
    border: 1px solid #35a2f4;
    cursor: pointer;
}

.user-card__username{
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.user-card__user-data{
    display: flex;
    margin-bottom: 0.5rem;
}
i.icon.user-card__user-data-icon{
    margin-right: 0.5rem!important;
}

/* Not found */
.not-found__container{
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found__image{
    width: 300px;
    height: 300px;
    margin-bottom: 2rem;
}

.not-found__title{
    text-align: center;
    margin-bottom: 1rem;
}

.not-found__subtitle{
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.not-found__disclaimer{
    text-align: center;
    font-size: 12px
}

/* Search page */
.search-page__container{
    margin-bottom: 4rem;
}
.search-page__container h2{
    text-align: center;
}

/* Post form */
.post-form__body-input{
    padding: 0!important;
    padding-right: 0.5rem!important;
    width: 100%;
    margin-bottom: 0.5rem!important;
}

/* Comment form */
.comment-form__body-input{
    padding: 0!important;
    padding-right: 0.5rem!important;
    width: 100%;
    margin-bottom: 0.5rem!important;
}